{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{% static 'yours/styles/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'yours/styles/theme.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'yours/favicon/favicon.ico' %}">

    <title>{% block title %}Yours{% endblock title %}</title>
  </head>
  <body class="{% block body_class %}{% endblock %}">
    {% block header %}{% endblock header %}
    <main class="site-main">
      {% block content %}{% endblock content %}
    </main>
    {% block footer %}{% endblock footer %}
    {% block basejs %}{% endblock basejs %}
    {% block js %}{% endblock js %}
  </body>
</html>